.PlayButton {
  cursor: pointer;
  position: absolute;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 2em;
}
.PlayButton:focus {
  outline: none;
}
.PlayButton:focus .PlayButton__background,
.PlayButton:hover .PlayButton__background {
  stroke: rgb(0, 95, 204);
  stroke-opacity: 1;
  stroke-width: 2px;
}
.PlayButton__background {
  fill-opacity: 0;
  stroke-opacity: 0.5;
}
.PlayButton__play {
  stroke-linejoin: round;
}
.PlayButton__radius {
  fill: transparent;
  stroke-opacity: 0.5;
}
