.PlayListItem {
  position: absolute;
}
.PlayListItem button {
  opacity: 0;
  position: relative;
}
.PlayListItem--active button {
  opacity: 1;
}

.PlayListItem button:focus {
  opacity: 1;
  z-index: 2;
}
