.Track:focus {
  outline: none;
}

.Track__limit {
  fill: none;
  fill-opacity: 0;
  stroke: white;
}

.Track__played {
  fill: none;
  stroke: white;
  transform: rotate(-180deg);
  transform-origin: center;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s;
  cursor: pointer;
}

.Track__transparent {
  fill: none;
  cursor: pointer;
  stroke: white;
  stroke-opacity: 0;
}

:focus .Track__transparent {
  stroke-opacity: 0.4;
}
